.App {
  background: #eef1f7;
}

.section-title {
  font-size: 20px;
  font-weight: bold;
  color: #001931;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.CalculatorPage .input-group {
  height: 45px;  
}

.CalculatorPage .input-group span.input-group-text {
  /* width: 45px; */
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}

.CalculatorPage .input-group span.input-group-text, 
.CalculatorPage .input-group input.form-control  {
  border: 2px solid #0019311A;
  font-size: 16px;
  font-weight: 600;
}

.CalculatorPage .input-group input.form-control:focus {
  border-color: #00B163;
  outline: none;
  box-shadow: none;
}

.CalculatorPage .form-label {
  font-size: 12px;
  font-weight: bold;
  color: #001931;
}

.CalculatorPage .form-label span {
  font-size: 12px;
  font-weight: 500;
  color: #00193180;
}

.CalculatorPage .card .card-body .nav.nav-tabs {
  border-color: #00B163;
  margin-bottom: 0 !important;
  margin-top: 1rem;
}

.CalculatorPage .card .card-body .nav.nav-tabs .nav-item .nav-link {
  font-size: 16px;
  font-weight: bold;
  color: #00193180;
}

.CalculatorPage .card .card-body .nav.nav-tabs .nav-item .nav-link:hover {
  border-color: transparent;
}

.CalculatorPage .card .card-body .nav.nav-tabs .nav-item .nav-link.active {
  border-color: #00B163;
  border-bottom-color: white;
  font-size: 16px;
  font-weight: bold;
  color: #00B163;
}

.CalculatorPage .card .card-body .tab-content {
  border: 1px solid #00B163;
  border-top-color: transparent !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1rem;
}

.CalculatorPage .card .accordion-item {
  border: 1px solid #00B163;
  margin-bottom: 0.25rem;
}

.CalculatorPage .card .accordion-item:focus-visible {
  border: none;
}

.CalculatorPage .card .accordion-item button:focus {
  border: none;
  box-shadow: none;
  border: 1px solid #00B163;
  background: #00b1631a;
}

.CalculatorPage .card .accordion-item button {
  color: #00B163;
  font-weight: 500;
  border: none;
  border-bottom: 1px solid #00B163;
  background: #00b1631a;
  /* margin-bottom: 0.25rem; */
}

.CalculatorPage .card .accordion-item button::after {
  display: none;
}

.CalculatorPage .card .accordion-item button[aria-expanded = true] {
  background: rgb(0 177 99 / 10%);
  color: #00B163;
  font-weight: 500;
}

.CalculatorPage .card .result-table-section {
  /* height: 100vh; */
  overflow-y: scroll;
}

.CalculatorPage .card .result-table-section::-webkit-scrollbar {
  background-color: rgb(0 177 99 / 10%);
  width: 5px;
}

.CalculatorPage .card .result-table-section::-webkit-scrollbar-track  {
  background-color: rgb(0 177 99 / 10%);
  width: 5px;
}

.CalculatorPage .card .result-table-section::-webkit-scrollbar-thumb {
  background-color: #00B163;
  width: 5px;
}

.border-green {
  border-color: #00B163 !important;
}

.card.border-green label {
  color: #00193180;
}
.card.border-green span strong {
  font-size: 14px;
  color: #00B163;
}

.card.border-green span {
  font-size: 12px;
  font-weight: 500;
  color: #00193180;
}

.dashboard-card h3{
  font-weight: 500;
  color: #00B163;
}

.dashboard-card .card-subtitle,
.dashboard-card span {
  color: #00193180;
}

.dashboard-card .card-icon {
  font-size: 20px;
}

.dashboard-card .card-icon span {
  border: 1px solid #00B163;
  padding: 1rem;
  display: flex;
  border-radius: 50px;
  background: #00b3651a;
  color: #00B163;
}


table tr th {
  font-size: 12px;
}

.card button.save-btn {
  background: #00B1631a !important;
  border: 1px solid #00B163 !important;
  font-size: 16px;
  font-weight: bolder;
  color: #00B163 !important;
}

.description-btn {
  position: fixed;
  bottom: 5%;
  right: 3%;
  height: 40px;
  width: 40px;
  background: #00B163 !important;
  border-radius: 50% !important;
  border-color: #ffffff !important;
  box-shadow: 0 0 20px black;
  z-index: 10;
  display: flex !important;
  align-items: center;
  justify-content: center;
}


.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

.title-word-3 {
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}

.title-word-4 {
  --color-1: #3D8DAE;
  --color-2: #DF8453;
  --color-3: #E4A9A8;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}

/* Here are just some visual styles. 🖌 */


.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 2rem;
  text-transform: uppercase;
}

.modal .modal-content {
  border-color: #00B163 !important;
}

.modal-header {
  background: #00B163;
  color: white;
}

.modal button {
  background: #00B163 !important;
  border-color: #00B163 !important;
}
